### macOS ###
.DS_Store
._*

### Node ###
.pnpm-store/
build/
coverage/
node_modules/
.nvmrc
.node-version
*.lcov

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

### JetBrains ###
.idea/
*.iml

### TypeORM ###
ormconfig.json
ormlogs.log

/test/github-issues/799/tmp/*

### Stryker ###
reports/
.stryker-tmp
